body {
  background-color: lightblue;
  min-width: 700px;
  font-family:Arial, Helvetica, sans-serif;
}

ul {
  background-color: beige;
  border-radius: 1ch;
}

button {
  background-color: pink;
  border-radius: 0.5ch;
  border: none;
  padding: 1ch;
  font-weight: bold;
}
